<app-replay-controls
  [isPlaying]="isPlaying"
  (play)="startReplay()"
  (pause)="pauseReplay()"
  (reset)="resetReplay()">
</app-replay-controls>

<div *ngIf="snapshot$ | async as snap">
  <h3>Order Book {{ snap.timeText }}</h3>

  <ngx-charts-bar-horizontal
    [view]="view"
    [results]="bidsSeries$ | async"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showDataLabel]="true"
    [dataLabelFormatting]="formatValue"
    [xAxisTickFormatting]="formatValue">
  </ngx-charts-bar-horizontal>

  <ngx-charts-bar-horizontal
    [view]="view"
    [results]="asksSeries$ | async"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showDataLabel]="true"
    [dataLabelFormatting]="formatValue"
    [xAxisTickFormatting]="formatValue">
  </ngx-charts-bar-horizontal>

  <div class="nav-buttons">
    <button class="btn-nav" (click)="previous()">← Prev</button>
    <button class="btn-nav" (click)="next()">Next →</button>
  </div>
</div>
